:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}
.main-btn:hover {
  color: var(--yellow-color);
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
/* Start Navbar */
.navbar {
  background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}
.navbar .search {
  border-left: 1px solid var(--green-color);
}
.navbar .search svg {
  color: var(--green-color);
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}
/* End Navbar */
/* Start Landing */
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
/* End Landing */
/* Start Features */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon {
  color: var(--green-color);
}
.features .feat h4 {
  color: var(--yellow-color);
}
/* End Features */
/* Start Our Work */
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--red-color);
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: rgb(51 209 204 / 76%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before {
  transform: translateX(0);
}
/* End Our Work */
/* Start stuff */
.stuff .discription{
    max-width: 500px;
    font-weight: bold;
}
/* Endstuff */
/* Start Team */
.team{
  background-color: var(--section-color);
}
.team .text h2{
  color: var(--yellow-color);
}
.team .box h2{
background-color: var(--green-color);
}
.team .box blockquote{
    background-color: white;
    margin-top: -7px;
    font-size: 15px;
    line-height: 1.3;
}
/* End Team */
/* Start Project */
.project{
  background-color: #19283f;
}
/* End Project */
/* Start Subscribe */
.subscribe{
  background-color: #ffc400;
  padding-top: 40px;
  padding-bottom: 40px;
}
.subscribe .row input[type="text"]{
  border-color: transparent transparent white transparent;
}
.subscribe .row input[type="text"]::placeholder{
  color: white;
}
.subscribe .row input[type="submit"]{
  background-color: #19283f;
  color: #ffc400;
}
/* End Subscribe */
/* Start Footer */
.footer{
  background-color: #19283f;
}
.footer .info h5 span{
  color: var(--green-color);
}
.footer .info h6 span{
  color: var(--yellow-color);
}
.footer .info ul{
  list-style: none;
}
.footer .info a{
    width: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.footer .contact ul svg {
  width: 20px;
  height: 20px;
}
.footer .facebook {
  background-color: #1877f2;
}
.footer .twitter {
  background-color: #1da1f2;
}
.footer .linkedin {
  background-color: #0077b5;
}
.footer .youtube {
  background-color: #ff0000;
}
/* End Footer */
.editor{
  background-color: #0077b5;
}
.editor h5{
  color: white;
}
.editor h5 span{
    color: #00f3ff;
}