.root{
--red-color: #ff3150;
--yellow-color: #ffc400;
}
/* Start Global Rules */
.main-title{
    font-weight: bold;
    font-size: 40px;
    color: var(--bs-form-invalid-color);
    border-bottom: #ff3150;
}
/* End Global Rules */
html{
    scroll-behavior: smooth;
}
.body{
    font-family:"Open Sans", sans-serif;
}
/* Start Navbar */
.navbar {
  background-color: var(--yellow-color);
}
.navbar .navbar-brand img{
    width: 60px !important;
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: red;
}
.navbar .search {
  border-left: 1px solid black;
}
.navbar .search svg {
  color: var(--red-color);
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--red-color);
}
/* End Navbar */
/* Start Services */
.services{
    background-color: #ffc400;
}
.services .row p{
    color: rgb(27, 7, 7);
}
/* End Services */
/* Start About */
.about{
width: 100%;
}
/* End About */
/* Start Footer */
.footer .info ul{
  display: flex;
  justify-content: space-between;
}
/* End Footer */
